@media (--pc) {
  .inner {
    max-width: 1088px;
    margin: 0 auto;
  }
  .page-ttl {
    font-weight: 500;
    font-size: rem(48);
    line-height: lh(48, 69);
    text-align: center;
    color: #303b36;
    margin-bottom: 50px;
    span {
      position: relative;
      display: inline-block;
      padding: 0 67px;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 43px;
        height: 59px;
        background: url('../images/common/icon_tl01.png') no-repeat;
        background-size: contain;
      }
      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 43px;
        height: 59px;
        background: url('../images/common/icon_tl02.png') no-repeat;
        background-size: contain;
      }
    }
    &01 {
      color: #ffffff;
      span {
        &:before {
          background: url('../images/common/icon_tl03.png') no-repeat;
          background-size: contain;
        }
        &:after {
          background: url('../images/common/icon_tl04.png') no-repeat;
          background-size: contain;
        }
      }
    }
    &--left {
      text-align: left;
    }
  }
  .main-visual {
    position: relative;
    z-index: 1;
    height: 909px;
    margin-bottom: 170px;
    background: url('../images/top/mv_banner.png') no-repeat top center;
    background-size: cover;
    max-width: 1920px;
    margin: 0 auto 190px;
    &:after {
      content: '';
      position: absolute;
      bottom: -237px;
      left: 0;
      width: 100%;
      height: 575px;
      background: url('../images/top/mv_bg.png') no-repeat top center;
      background-size: cover;
      z-index: -1;
    }
    .visual {
      &-wrap {
        width: 568px;
        margin-left: auto;
        padding-top: 118px;
        text-align: center;
      }
      &-tl {
        padding-bottom: 48px;
        margin-bottom: 6px;
        font-weight: 500;
        font-size: rem(64);
        line-height: lh(64, 88);
        text-align: center;
        color: #565e66;
        background: url('../images/top/main_bg_ttl.png') no-repeat bottom left;
        background-size: cover;
        .clr01 {
          color: #f42d69;
        }
        .clr02 {
          color: #d1ae16;
          text-shadow: 0px 0px 11px #ffffff, 0px 0px 11px #ffffff, 0px 0px 11px #ffffff;
        }
      }
      &-catch {
        margin-bottom: 14px;
        font-weight: 700;
        font-size: rem(32);
        line-height: lh(32, 46);
        text-align: center;
        color: #f42d69;
        text-shadow: 0px 0px 11px #ffffff, 0px 0px 11px #ffffff;
      }
      &-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: -10px auto 20px;
        li {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 10px;
          width: 114px;
          height: 114px;
          font-weight: 700;
          font-size: rem(24);
          text-align: center;
          color: #565e66;
          background: url('../images/common/bg01.png') no-repeat;
          background-size: cover;
          &:not(:nth-child(4n)) {
            margin-right: 16px;
          }
        }
      }
      &-price {
        position: relative;
        display: inline-block;
        font-weight: 500;
        font-size: rem(22);
        line-height: lh(22, 32);
        background: linear-gradient(89.88deg, rgba(0, 0, 0, 0) 0.08%, rgba(0, 0, 0, 0.15) 51.03%, rgba(0, 0, 0, 0) 99.89%);
        text-shadow: -1px -1px 0 #fff, 0 -1px 0 #fff, 1px -1px 0 #fff, 1px 0 0 #fff, 1px 1px 0 #fff, 0 1px 0 #fff, -1px 1px 0 #fff,
          -1px 0 0 #fff;
        text-align: center;
        &:before,
        &:after {
          content: '';
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          width: 287px;
          height: 1px;
          background: linear-gradient(90deg, rgba(252, 201, 71, 0) 0%, #fcc947 48.44%, rgba(252, 201, 71, 0) 100%);
        }
        &:before {
          top: 0;
        }
        &:after {
          bottom: 0;
        }
        span {
          font-weight: 900;
          font-size: rem(40);
          line-height: lh(40, 57);
          color: #f42d69;
        }
      }
    }
  }
  .b-limited {
    padding: 1px;
    width: 732px;
    margin: 0 auto;
    background: #ffffff;
    box-shadow: 0px 39px 42px -19px rgba(0, 0, 0, 0.16);
    border-radius: 24px;
    background-image: linear-gradient(180deg, #d6c890 0%, rgba(239, 232, 203, 0) 100%);
    .page-ttl {
      margin-bottom: 32px;
    }
    .limited {
      &-wrap {
        padding: 56px 24px;
        background-color: #fff;
        border-radius: 24px;
        text-align: center;
      }
      &-list {
        margin-bottom: 32px;
        li {
          position: relative;
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 16px 24px;
          background: linear-gradient(90deg, rgba(242, 246, 247, 0) -0.04%, #f2f6f7 47.91%, rgba(242, 246, 247, 0) 100.04%);
          &:not(:last-child) {
            margin-bottom: 10px;
          }
          &:before,
          &:after {
            content: '';
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            height: 1px;
            background-image: linear-gradient(90deg, rgba(192, 211, 218, 0) -0.08%, #c0cdcd 50.47%, rgba(192, 211, 218, 0) 96.02%);
          }
          &:before {
            top: 0;
          }
          &:after {
            bottom: 0;
          }
          .text {
            display: flex;
            align-items: center;
            width: 376px;
            flex: 0 1 376px;
            margin-right: 25px;
            .stt {
              display: flex;
              justify-content: center;
              align-items: center;
              flex: 0 1 84px;
              margin-right: 20px;
              width: 84px;
              height: 84px;
              border: 1px solid #d1ae16;
              border-radius: 100px;
              span {
                display: flex;
                justify-content: center;
                align-items: flex-end;
                width: 72px;
                height: 72px;
                padding: 20px;
                background: #d1ae16;
                border-radius: 100px;
                font-family: $font_en;
                font-style: italic;
                font-weight: 400;
                font-size: rem(44);
                line-height: lh(44, 54);
                letter-spacing: 0.16px;
                color: #ffffff;
              }
            }
            .catch {
              flex: 1;
              font-weight: 700;
              font-size: 32px;
              line-height: 46px;
              text-align: left;
              background: linear-gradient(180deg, #d1ae16 0%, #b79607 100%);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              background-clip: text;
              text-fill-color: transparent;
            }
          }
          .price {
            position: relative;
            padding-top: 24px;
            flex: 1;
            min-height: 142px;
            font-weight: 700;
            font-size: rem(16);
            line-height: lh(16, 23);
            text-align: center;
            color: #646c68;
            margin-right: 10px;
            .num {
              font-size: rem(40);
              line-height: lh(40, 46);
              color: #f42d69;
            }
            &:before {
              content: '';
              position: absolute;
              left: 0;
              top: 5px;
              width: 81px;
              height: 130px;
              background: url('../images/common/icon_price01.png') no-repeat;
              background-size: contain;
            }
            &:after {
              content: '';
              position: absolute;
              right: 0;
              top: 5px;
              width: 81px;
              height: 130px;
              background: url('../images/common/icon_price02.png') no-repeat;
              background-size: contain;
            }
          }
        }
      }
      &-text {
        margin-bottom: 32px;
        font-size: rem(20);
        line-height: lh(20, 29);
        text-align: center;
        color: #303b36;
      }
    }
  }
  .limited {
    padding-bottom: 100px;
    position: relative;
    z-index: 2;
    &:after {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 0;
      border-left: 44px solid transparent;
      border-right: 44px solid transparent;
      border-top: 24px solid #fff;
    }
    .pattent {
      position: absolute;
      top: -186px;
      left: 0;
      width: 857px;
      height: 1052px;
      background: url('../images/top/bg09.png') no-repeat;
      background-size: contain;
      z-index: -1;
    }
    .pattent01 {
      position: absolute;
      bottom: 200px;
      right: 0;
      width: 569px;
      height: 423px;
      background: url('../images/top/bg10.png') no-repeat;
      background-size: contain;
      z-index: -1;
    }
  }
  .list-check {
    li {
      position: relative;
      padding-left: 31px;
      font-weight: 500;
      font-size: rem(24);
      line-height: lh(24, 34);
      color: #303b36;
      &:not(:last-child) {
        margin-bottom: 13px;
      }
      &:before {
        content: '';
        position: absolute;
        top: 8px;
        left: 0;
        width: 20px;
        height: 20px;
        background: url('../images/common/icon_check.png') no-repeat;
        background-size: cover;
      }
    }
  }
  .worries {
    padding: 84px 0;
    background: url('../images/top/bg01.jpg') no-repeat top center;
    background-size: cover;
    overflow-x: hidden;
    max-width: 1920px;
    margin: 0 auto;
    .page-ttl {
      margin-bottom: 36px;
    }
    .inner {
      position: relative;
      z-index: 1;
      padding-left: 115px;
    }
    .model01 {
      position: absolute;
      bottom: -84px;
      right: -286px;
      width: 766px;
      z-index: -1;
    }
  }
  .recommend {
    &-head {
      position: relative;
      padding: 36px 0 57px;
      font-weight: 500;
      font-size: rem(24);
      line-height: lh(24, 34);
      text-align: center;
      letter-spacing: 0.41em;
      color: #ffffff;
      background: #d1ae16;
      .catch {
        position: absolute;
        bottom: -54px;
        left: 50%;
        transform: translateX(-50%);
        width: 1023px;
        padding: 0 0 18px;
        font-weight: 700;
        font-size: rem(56);
        line-height: lh(56, 80);
        text-align: center;
        color: #ffffff;
        text-shadow: 0px 0px 5px #efe268, 0px 0px 16px #d0c031;
        background: url('../images/top/bg02.png') no-repeat;
        background-size: cover;
        letter-spacing: 0;
      }
    }
    &-product {
      text-align: center;
      padding: 100px 0 94px;
      background: url('../images/top/bg03.png') no-repeat;
      background-size: cover;
      img {
        width: 695px;
      }
    }
  }
  .box {
    &-head {
      position: relative;
      padding: 29px 0;
      text-align: center;
      background: #f42d69;
      z-index: 2;
      &:after {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-left: 44px solid transparent;
        border-right: 44px solid transparent;
        border-top: 24px solid #f42d69;
      }
      .page-ttl {
        margin-bottom: 0;
      }
      &.clr01 {
        background: #ccb655;
        &:after {
          border-top-color: #ccb655;
        }
      }
      &.clr02 {
        background: #6c89c1;
        &:after {
          border-top-color: #6c89c1;
        }
      }
    }
  }
  .photofacial {
    &-wrap {
      background: url('../images/top/bg04.jpg') no-repeat;
      background-size: cover;
    }
    &-list {
      width: 850px;
      margin: 0 auto;
      li {
        position: relative;
        min-height: 336px;
        padding: 62px 48px 66px 57px;
        background: #ffffff;
        box-shadow: 0px 69px 38px -45px rgba(0, 0, 0, 0.08);
        border-radius: 24px;
        z-index: 1;
        &:not(:last-child) {
          margin-bottom: 60px;
        }
        .text-num {
          width: 420px;
          display: flex;
          align-items: flex-start;
          .num {
            flex: 1;
            font-family: $font_en;
            font-style: italic;
            font-weight: 400;
            font-size: rem(128);
            line-height: 0.3;
            color: #f42d69;
          }
          .text {
            flex: 0 1 344px;
            color: #303b36;
            .catch {
              margin-bottom: 20px;
              font-weight: 500;
              font-size: rem(32);
              line-height: lh(32, 42);
              span {
                color: #f24e75;
              }
            }
          }
        }
        .image {
          position: absolute;
          bottom: 0;
          z-index: -1;
        }
        &.item01 {
          .image {
            right: 36px;
            width: 329px;
          }
        }
        &.item02 {
          .image {
            left: 15px;
            width: 351px;
          }
        }
        &.item03 {
          .image {
            right: 42px;
            width: 251px;
          }
        }
        &.reverse {
          .text-num {
            margin-left: auto;
          }
        }
      }
    }
  }
  .text-image {
    margin: 0 auto;
    padding: 50px 94px;
    width: 1038px;
    background: #f3f6f7;
    border-radius: 24px;
    overflow: hidden;
    .item {
      display: flex;
      flex-wrap: wrap;
      margin-left: -34px;
      &:not(:last-child) {
        margin-bottom: 32px;
      }
      &.reverse {
        flex-direction: row-reverse;
      }
    }
    .text,
    .image {
      margin-left: 34px;
    }
    .text {
      flex: 1;
      padding: 9px 0 0;
      .catch {
        margin-bottom: 16px;
        font-weight: 500;
        font-size: rem(24);
        line-height: lh(24, 34);
        color: #303b36;
      }
    }
    .image {
      flex: 0 1 381px;
      border-radius: 24px;
      overflow: hidden;
    }
  }
  .block-wrap {
    padding: 75px 0 100px;
  }
  .block-photo {
    background: url('../images/top/bg05.jpg') no-repeat;
    background-size: cover;
  }
  .box-photo {
    &:not(:last-child) {
      margin-bottom: 50px;
    }
    .photo-ttl {
      position: relative;
      text-align: center;
      font-weight: 500;
      font-size: rem(32);
      line-height: lh(32, 42);
      color: #303b36;
      padding-bottom: 19px;
      margin-bottom: 32px;
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 144px;
        height: 29px;
        background: url('../images/top/bg_ttl.png') no-repeat;
        background-size: cover;
      }
    }
    .list-photo {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-left: -64px;
      margin-top: -50px;
      .item {
        position: relative;
        width: 320px;
        margin-left: 64px;
        margin-top: 50px;
        .caption {
          text-align: center;
          font-weight: 700;
          color: #ffffff;
          padding: 10px;
          background: linear-gradient(90deg, #bdc1bf 0%, #a2aaa6 100%);
        }
        &:not(:last-child) {
          &:after {
            content: '';
            position: absolute;
            top: 50%;
            right: -52px;
            transform: translateY(-50%);
            width: 39px;
            height: 19px;
            background: url('../images/top/arrow.png') no-repeat;
            background-size: cover;
          }
        }
        &:nth-child(3n) {
          &:after {
            display: none;
          }
        }
      }
    }
  }
  .block-flow {
    background: url('../images/top/bg06.jpg');
  }
  .list-flow {
    width: 936px;
    margin: 0 auto;
    .item {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      &:not(:last-child) {
        margin-bottom: 104px;
        &:after {
          content: '';
          position: absolute;
          top: 110px;
          left: 55px;
          width: 1px;
          height: calc(100% - 6px);
          background-color: #d1ae16;
          transform: translateX(-50%);
        }
      }
      .step-num {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 0 1 110px;
        height: 110px;
        margin-right: 30px;
        border: 1px solid #d1ae16;
        border-radius: 100px;
        > span {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 98px;
          height: 98px;
          background: #d1ae16;
          border-radius: 100px;
          font-weight: 500;
          font-size: rem(14);
          color: #fff;
          text-align: center;
          padding-bottom: 20px;
          .num {
            font-family: $font_en;
            font-style: italic;
            font-weight: 400;
            font-size: rem(44);
            line-height: 0.4;
            display: flex;
            align-items: flex-end;
            letter-spacing: 0.16px;
          }
        }
      }
      .b-text {
        flex: 1;
        display: flex;
        .text {
          flex: 1;
          margin-right: 16px;
          .catch {
            margin-bottom: 8px;
            font-weight: 500;
            font-size: rem(32);
            line-height: lh(32, 42);
            color: #303b36;
          }
        }
        .image {
          flex: 0 1 400px;
        }
      }
    }
  }
  .b-price {
    max-width: 1920px;
    margin: 0 auto;
    padding: 120px 0 100px;
    background: url('../images/top/bg07.jpg') no-repeat top center;
  }
  .box-phone {
    display: flex;
    width: 936px;
    margin: 0 auto 130px;
    .text {
      width: 50%;
      padding: 24px 32px;
      background: rgba(255, 255, 255, 0.07);
      border: 1px solid #a8a5a2;
      /* backdrop-filter: blur(12px); */
      @supports ((-webkit-backdrop-filter: blur(12px)) or (backdrop-filter: blur(12px))) {
        background-color: rgba(255, 255, 255, 0.07);
        -webkit-backdrop-filter: blur(12px);
        backdrop-filter: blur(12px);
      }
      border-radius: 16px 0px 0px 16px;
      font-weight: 500;
      font-size: rem(20);
      line-height: lh(20, 30);
      color: #ffffff;
      .catch {
        margin-top: 8px;
        font-weight: 900;
        font-size: rem(32);
        line-height: lh(32, 42);
      }
      &-clr01 {
        color: #303b36;
      }
    }
    .phone {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;
      padding: 16px 0px;
      text-align: center;
      background: linear-gradient(180deg, #ff3f79 0%, #cf0643 100%);
      border: 1px solid #a8a5a2;
      border-radius: 0px 16px 16px 0px;
      color: #ffffff;
      .tel {
        margin-bottom: 14px;
        font-weight: 700;
        font-size: rem(64);
        line-height: lh(64, 74);
      }
    }
  }
  .box-price {
    width: 936px;
    margin: 0 auto;
    padding: 50px 80px;
    background: linear-gradient(180deg, #d1ae16 0%, #c5a109 100%), #303b36;
    border-radius: 24px;
    .page-ttl {
      margin-bottom: 33px;
    }
    .price-note {
      color: #fff;
      text-align: center;
      margin-top: 30px;
      > p {
        + p {
          margin-top: 18px;
        }
      }
    }
  }
  .list-price {
    .item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 32px 48px;
      background: #fbf7ef;
      box-shadow: 0px 17px 19px -45px rgba(0, 0, 0, 0.17);
      border-radius: 16px;
      &:not(:last-child) {
        margin-bottom: 16px;
      }
      .text {
        width: 312px;
        font-size: rem(16);
        line-height: lh(16, 23);
        color: #646c68;
        .catch {
          margin-bottom: 10px;
          font-weight: 500;
          font-size: rem(48);
          line-height: lh(48, 69);
          color: #303b36;
          span {
            font-weight: 500;
            font-size: rem(20);
            line-height: lh(20, 29);
          }
        }
      }
      .num {
        width: 252px;
        color: #646c68;
        font-size: rem(20);
        line-height: lh(20, 29);
        text-align: center;
        .old {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 10px;
          span {
            font-size: rem(32);
            line-height: lh(32, 46);
            text-align: center;
            text-decoration-line: line-through;
            color: #303b36;
            margin-left: 8px;
          }
        }
        .price-num {
          font-weight: 700;
          font-size: rem(64);
          line-height: lh(64, 74);
          color: #f42d69;
        }
      }
    }
  }
  .faq {
    padding: 100px 0;
    background: #fbf7ef;
  }
  .list-faq {
    width: 936px;
    margin: 0 auto;
    .item {
      padding: 24px 32px;
      background: #ffffff;
      border: 1px solid #dae4df;
      border-radius: 8px;
      color: #303b36;
      &:not(:last-child) {
        margin-bottom: 16px;
      }
      .catch {
        margin-bottom: 8px;
        font-weight: 500;
        font-size: rem(32);
        line-height: lh(32, 43);
        color: #d1ae16;
      }
    }
  }
  .receive {
    padding: 100px 0;
  }
  .box-receive {
    width: 770px;
    margin: 0 auto;
    .receive-ttl {
      font-weight: 500;
      font-size: rem(32);
      line-height: lh(32, 43);
      color: #ffffff;
      padding: 16px;
      text-align: center;
      background: #f42d69;
      border-radius: 24px 24px 0px 0px;
    }
    .list-receive {
      padding: 32px 32px 32px 36px;
      background: #f1f6f4;
      border-radius: 0px 0px 24px 24px;
      .item {
        position: relative;
        font-size: rem(20);
        line-height: lh(20, 45);
        color: #303b36;
        padding-left: 25px;
        &:before {
          content: '・';
          position: absolute;
          left: 0;
        }
      }
    }
  }
  .block-reservation {
    max-width: 1920px;
    margin: 0 auto;
    padding: 180px 0;
    background: url('../images/top/bg08.jpg') no-repeat top center;
  }
  .visit-us {
    padding: 100px 0 110px;
    .box-phone {
      margin-bottom: 100px;
    }
  }
  .overview-access {
    display: flex;
    align-items: center;
    padding: 0px;
    width: 1170px;
    margin: 0 auto;
    background: #f3f6f7;
    .overview,
    .access {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 32px;
      width: 50%;
    }
    .access {
      .map {
        margin-top: 8px;
      }
    }
  }
  .list-overview {
    .item {
      display: flex;
      align-items: center;
      padding: 10px;
      &:not(:last-child) {
        margin-bottom: 24px;
      }
      .icon {
        display: inline-block;
        width: 32px;
        height: 32px;
        flex: 0 1 32px;
        margin-right: 16px;
        &-home {
          background: url('../images/common/icon_home.png') no-repeat;
          background-size: 32px 32px;
        }
        &-time {
          background: url('../images/common/icon_time.png') no-repeat;
          background-size: 32px 32px;
        }
        &-close {
          background: url('../images/common/icon_close.png') no-repeat;
          background-size: 32px 32px;
        }
        &-map {
          background: url('../images/common/icon_map.png') no-repeat;
          background-size: 32px 32px;
        }
      }
      .text {
        flex: 1;
        font-size: rem(14);
        line-height: lh(14, 24);
        color: #303b36;
        span {
          margin-bottom: 3px;
          display: block;
          font-weight: 700;
          font-size: rem(20);
          line-height: lh(20, 24);
        }
      }
    }
  }
}
