@media (--tb) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: transparent;
      z-index: -1;
    }
    &.fixed {
      &:after {
        background: rgba(255, 255, 255, 0.8);
        /* backdrop-filter: blur(vwTb(28)); */
        @supports ((-webkit-backdrop-filter: blur(vwTb(28))) or (backdrop-filter: blur(vwTb(28)))) {
          background-color: rgba(255, 255, 255, 0.07);
          -webkit-backdrop-filter: blur(vwTb(28));
          backdrop-filter: blur(vwTb(28));
        }
      }
    }
    &__container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: vwTb(14) vwTb(32);
      height: vwTb(76);
    }
    &__logo {
      flex: none;
      order: 0;
      flex-grow: 0;
      width: vwTb(200);
    }
    &__btn {
      a {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: vwTb(8) vwTb(48);
        width: vwTb(204);
        height: vwTb(40);
        font-weight: 500;
        line-height: vwTb(24);
        letter-spacing: 0.32em;
        color: #fff;
        background: #d1ae16;
        transition: background 0.3s;
        border-radius: vwTb(100);
        span {
          transition: transform 0.3s;
        }
        &:after {
          content: '';
          margin-left: vwTb(15);
          width: vwTb(25);
          height: vwTb(8);
          background: url('../images/common/arrow01.png');
          background-size: vwTb(25) vwTb(8);
          transition: transform 0.3s;
        }
        &:hover {
          background-color: #b49e3e;
          span {
            transform: translateX(vwTb(-3));
          }
          &:after {
            transform: translateX(vwTb(3));
          }
        }
      }
    }
  }
}
