extends ./utils/_base.pug

block append stylesheet
  link(rel="stylesheet", href='./assets/css/top.css')

block main
  section.main-visual
    .inner 
      .visual-wrap
        h2.visual-tl 肌悩みは
          span.clr01 光で洗う
          br
          span.clr02 最新 美肌治療!!
        p.visual-catch フォトフェイシャル®ステラM22
        ul.visual-list 
          li シミ
          li くすみ
          li そばかす
          li 赤ら顔
          li ニキビ跡
          li 毛穴
          li 小じわ
          li ハリ
        p.visual-price フォトフェイシャル®︎  初回 
          span ¥7,700
          |  (税込)

  section.limited.block-content
    span.pattent.show_pc
      img(src="./assets/images/top/bg09.png", alt="")
    span.pattent01.show_pc
      img(src="./assets/images/top/bg10.png", alt="")
    .inner 
      .b-limited
        .limited-wrap 
          h3.page-ttl 
            span 🔰当院が初めての方限定
          ul.limited-list 
            li 
              .text 
                p.stt
                  span 01
                p.catch お悩みに合わせてアプローチ！
              .price 
                p シングル照射 初回
                p.num ¥7,700
            li 
              .text 
                p.stt
                  span 02
                p.catch お肌のお悩みまとめて改善！
              .price 
                p ダブル照射 初回
                p.num ¥9,900
            li 
              .text 
                p.stt
                  span 03
                p.catch 部分的に気なる部分も集中照射！
              .price 
                p トリプル照射 初回
                p.num ¥16,500
          p.limited-text M22ステラに変更が初めての方は初回キャンペー
            br
            | ン価格でご利用いただけます。
          .b-btn 
            a(href="#").btn 今すぐ予約をする
              i.icon-arrow

  section.worries
    .inner 
      h3.page-ttl.page-ttl--left
        span お悩み
      ul.list-check 
        li シミ・そばかすが気になる
        li クレーター肌やニキビ跡が目立ってしまう
        li 化粧で隠しきれない赤ら顔（酒さ）
        li 老化による小じわやたるみ
        li 目立ってしまう毛穴の開き
        li 肌のくすみや色ムラが気になる
      img(src="./assets/images/top/model01.png", alt="").model01.show_pc
      img(src="./assets/images/top/model01_sp.png", alt="").model01.show_sp
  
  section.recommend
    .recommend-head
      .inner 
        p そんなあなたにおススメするのは…
        h3.catch フォトフェイシャル®ステラM22
    .recommend-product 
      img(src="./assets/images/top/product01.png", alt="").show_pc
      img(src="./assets/images/top/product01_sp.png", alt="").show_sp
  
  section.photofacial
    .box-head 
      .inner 
        h3.page-ttl.page-ttl01 
          span フォトフェイシャル
            br.show_sp
            | ®ステラM22なら！
    .block-wrap.photofacial-wrap
      .inner
        ul.photofacial-list 
          li.item01
            .text-num 
              p.num 1
              .text
                p.catch 
                  span しみ、そばかすの改善を
                  | 目指す
                p 周問つ洋出むラ名41素驚ラナ七前ラエケ人交ヒカシニ眼徴どお待管ロレコ発界みねん前覧北キ調処供くそっ抜発スミ現結連びゆす飛民ば兆治済じつト。
            .image 
              img(src="./assets/images/top/model02.png", alt="")
          li.item02.reverse
            .text-num 
              p.num 2
              .text
                p.catch 
                  span 肌の印象
                  | を改善する
                p 周問つ洋出むラ名41素驚ラナ七前ラエケ人交ヒカシニ眼徴どお待管ロレコ発界みねん前覧北キ調処供くそっ抜発スミ現結連びゆす飛民ば兆治済じつト。
            .image 
              img(src="./assets/images/top/model03.png", alt="")
          li.item03
            .text-num 
              p.num 3
              .text
                p.catch 
                  span 毛穴を
                  | 抑える
                p 周問つ洋出むラ名41素驚ラナ七前ラエケ人交ヒカシニ眼徴どお待管ロレコ発界みねん前覧北キ調処供くそっ抜発スミ現結連びゆす飛民ば兆治済じつト。
            .image 
              img(src="./assets/images/top/model04.png", alt="")

  section.block-content
    .box-head.clr01
      .inner 
        h3.page-ttl.page-ttl01 
          span フォトフェイシャル®ステラM22とは
    .block-wrap
      .inner 
        .text-image 
          .item 
            .text 
              p.catch 見出し
              p テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキス
            .image 
              img(src="./assets/images/top/img01.jpg", alt="")
          .item.reverse
            .text 
              p.catch 見出し
              p テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキス
            .image 
              img(src="./assets/images/top/img02.jpg", alt="")
          .item 
            .text 
              p.catch 見出し
              p テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキス
            .image 
              img(src="./assets/images/top/img03.jpg", alt="")

  section.photo 
    .box-head.clr02
      .inner 
        h3.page-ttl.page-ttl01 
          span 施術例
    .block-wrap.block-photo
      .inner
        .box-photo 
          h4.photo-ttl シミ
          ul.list-photo.list-column03
            li.item 
              .image 
                img(src="./assets/images/top/photo_img01.jpg", alt="")
              p.caption Before
            li.item 
              .image 
                img(src="./assets/images/top/photo_img02.jpg", alt="")
              p.caption After 3 treatments
            li.item 
              .image 
                img(src="./assets/images/top/photo_img03.jpg", alt="")
              p.caption After 5 treatments
        .box-photo 
          h4.photo-ttl そばかす、毛穴の開き
          ul.list-photo.list-column02
            li.item 
              .image 
                img(src="./assets/images/top/photo_img01.jpg", alt="")
              p.caption Before
            li.item 
              .image 
                img(src="./assets/images/top/photo_img02.jpg", alt="")
              p.caption After 3 treatments

  section.flow
    .box-head
      .inner 
        h3.page-ttl.page-ttl01 
          span 施術の流れ
    .block-wrap.block-flow 
      .inner 
        ul.list-flow 
          li.item 
            p.step-num
              span Step
                span.num 01
            .b-text
              .text 
                h4.catch メイクやクリームなどを
                p テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキス
              .image
                img(src="./assets/images/top/img04.jpg", alt="")
          li.item 
            p.step-num
              span Step
                span.num 02
            .b-text
              .text 
                h4.catch 冷却ジェルを塗布
                p テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキス
              .image
                img(src="./assets/images/top/img05.jpg", alt="")
          li.item 
            p.step-num
              span Step
                span.num 03
            .b-text
              .text 
                h4.catch IPLを照射
                p テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキス
              .image
                img(src="./assets/images/top/img06.jpg", alt="")
          li.item 
            p.step-num
              span Step
                span.num 04
            .b-text
              .text 
                h4.catch 直後から洗顔・メイクが可能です。
                p テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキス
              .image
                img(src="./assets/images/top/img06.jpg", alt="")

  section.b-price
    .inner 
      .box-phone 
        .text
          p まずはお気軽にご相談を
          p.catch 無料でカウンセリング
            br.show_pc
            | を受ける
        .phone 
          a(href="tel:0120-611-999").tel 0120-611-999
          p.time 受付時間：10:00〜18:30
      .box-price 
        h3.page-ttl.page-ttl01
          span 料金案内
        ul.list-price
          li.item
            .text 
              p.catch シングル
              p お肌のお悩みに合わせて照射します。
            .num 
              p.old 通常価格
                span ¥27,500
              p キャンペーン価格(初回)
              p.price-num ¥7,700
          li.item
            .text 
              p.catch ダブル
                span （全顔照射2周）
              p お肌のお悩みに合わせたモードと肌質改善モードの２つの照射を行います。
            .num 
              p.old 通常価格
                span ¥33,000
              p キャンペーン価格（初回）
              p.price-num ¥9,900
          li.item
            .text 
              p.catch トリプル
              p ダブル照射にプラスして、さらに気になる部分に集中して照射します。
            .num 
              p.old 通常価格
                span ¥44,000
              p キャンペーン価格（初回）
              p.price-num ¥16,500
        .price-note
          p 当院でのM22施術が初めての方は初回キャンペーン価格でご利用いただけます
          p ※表示料金はすべて税込み価格です。

  section.faq 
    .inner 
      h3.page-ttl 
        span よくある質問
      .list-faq 
        .item
          p.catch あれですか？
          p テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
        .item
          p.catch あれですか？
          p テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
        .item
          p.catch あれですか？
          p テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
  section.receive
    .inner 
      .box-receive
        h3.receive-ttl 施術を受けられない方
        ul.list-receive
          li.item テキストテキストテキストテキストテキスト
          li.item テキストテキストテキストテキスト
          li.item テキストテキストテキストテキストテキスト
          li.item テキストテキストテキスト
          li.item テキストテキストテキストテキストテキスト
          li.item テキストテキストテキストテキスト
          li.item テキストテキストテキストテキストテキスト
          li.item テキストテキスト

  section.reservation
    .box-head.clr01
      .inner 
        h3.page-ttl.page-ttl01 
          span ご予約
    .block-wrap.block-reservation 
      .inner 
        .b-btn
          a(href="#").btn.btn-large
            | ご予約はこちらから
            i.icon-arrow 
    
  section.visit-us 
    .inner 
      h3.page-ttl 
        span お気軽にご来院く
          br.show_sp
          | ださい
      .box-phone 
        .text.text-clr01
          p まずはお気軽にご相談を
          p.catch 無料でカウンセリング
            br.show_pc
            | を受ける
        .phone 
          a(href="tel:0120-611-999").tel 0120-611-999
          p.time 受付時間：10:00〜18:30 
    .b-access 
      h3.page-ttl 
        span 概要・アクセス
      .overview-access 
        .overview 
          ul.list-overview
            li.item 
              i.icon.icon-home 
              p.text 
                span クリニック名
                | Ginza78Clinic（ギンザセブンエイトクリニック）
            li.item 
              i.icon.icon-time 
              p.text 
                span 診療時間
                | 10:00～19:00 最終受付18:00まで
            li.item 
              i.icon.icon-close 
              p.text 
                span 休診日
                | 不定休（年末年始 休診）
        .access 
          ul.list-overview
            li.item 
              i.icon.icon-map 
              p.text 
                span 所在地
                | 〒104-0061 東京都中央区銀座5-9-17 銀座あづまビル3階
                | 東京メトロ：銀座駅 A5出口徒歩2分
          .map 
            iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6482.549684498262!2d139.765198!3d35.670234!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188b913231988d%3A0x724e0cf3888c237!2z6YqA5bqn44GC44Gl44G-44OT44Or!5e0!3m2!1szh-TW!2stw!4v1680407663772!5m2!1szh-TW!2stw", width="522", height="235", allowfullscreen, loading="lazy", referrerpolicy="no-referrer-when-downgrade")


