.footer__wrap 
  .logo-copyright
    .logo
      img(src="./assets/images/common/logo.png", alt="logo") 
    p.copyright Copyright &copy;2022 by 銀座MOA, alright reserves
  .footer-links 
    ul.ft-links 
      li.item
        a(href="#") 医院紹介 
      li.item 
        a(href="#") お問い合わせ 
      li.item 
        a(href="#") プライバシーポリシー 
    ul.list-social 
      li.item
        a(href="#") 
          img(src="./assets/images/common/icon_line.png", alt="")
      li.item
        a(href="#") 
          img(src="./assets/images/common/icon_instagram.png", alt="")
      li.item
        a(href="#") 
          img(src="./assets/images/common/icon_twitter.png", alt="")
      li.item
        a(href="#") 
          img(src="./assets/images/common/icon_blog.png", alt="")
